In [1]:
import os
import pandas as pd

## Retrieving the Data

### Task 1: Load the Data from the CSV Files

The initial task is to take the 4 csv files you have been given and turn them into pandas dataframes. A quick note - these files aren't encoded in UTF-8 so when you're reading them into dataframes be sure to use the argument `encoding = 'latin-1'`.

Hint

<details>

`.read_csv()` is a handy function.

In [ ]:
orders, order_details, pizzas, pizza_types = None, None, None, None
absolute_path = os.path.abspath(os.path.dirname('archive'))

# This is for JH filesystem. It may be different on your computer.
orders = pd.read_csv(absolute_path + '/archive/orders.csv', encoding='latin-1')

order_details = pd.read_csv(absolute_path + '/archive/order_details.csv', encoding='latin-1')
pizzas = pd.read_csv(absolute_path + '/archive/pizzas.csv', encoding='latin-1')
pizza_types = pd.read_csv(absolute_path + '/archive/pizza_types.csv', encoding='latin-1')

# just to check if it's reading the csv file
print(orders.head())
print(order_details.head())
print(pizzas.head())
print(pizza_types.head())

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30
   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1
     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75
  pizza_type_id                          name category  \
0       bbq_ckn    The Barbecue Chicken Pizza  Chicken
1      cali_ckn  The California Chicken Pizza  Chicken
2   ckn_alfredo     The Chicken Alfredo Pizza  Chicken
3     ckn_pesto       The Chicken Pesto Pizza  Chicken
4    southw_ckn   The Southwest Chicken Pizza  Chicken

                                         ingredients
0  Barbecued Chicken, Red Peppers, Green Peppers,...
1  Chicken, Artichoke, Spinach, Garlic, Jalapeno ...
2  Chicken, Red Onions, Red Peppers, Mushrooms, A...
3  Chicken, Tomatoes, Red Peppers, Spinach, Garli...
4  Chicken, Tomatoes, Red Peppers, Red Onions, Ja...

In [3]:
assert orders.columns.tolist() == ['order_id', 'date', 'time']
assert order_details.columns.tolist() == ['order_details_id', 'order_id', 'pizza_id', 'quantity']
assert pizzas.columns.tolist() == ['pizza_id', 'pizza_type_id', 'size', 'price']
assert pizza_types.columns.tolist() == ['pizza_type_id', 'name', 'category', 'ingredients']

## Exploring and Shaping the Data

### Task 2: Taking a Peek at the Dataframes

Now that we have the csv files as dataframes, let's take a look at each of them. Examine the first 10 entries in each dataframe. Note: For pizza_types, since there are only about 30 entries, output the whole dataframe so you can get a look at all the types of pizza that are sold.

In [ ]:
print(orders.head(10))

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30
5         6  2015-01-01  12:29:36
6         7  2015-01-01  12:50:37
7         8  2015-01-01  12:51:37
8         9  2015-01-01  12:52:01
9        10  2015-01-01  13:00:15

In [ ]:
print(order_details.head(10))

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1
5                 6         2     thai_ckn_l         1
6                 7         3    ital_supr_m         1
7                 8         3   prsc_argla_l         1
8                 9         4    ital_supr_m         1
9                10         5    ital_supr_m         1

In [ ]:
print(pizzas.head(10))

        pizza_id pizza_type_id size  price
0      bbq_ckn_s       bbq_ckn    S  12.75
1      bbq_ckn_m       bbq_ckn    M  16.75
2      bbq_ckn_l       bbq_ckn    L  20.75
3     cali_ckn_s      cali_ckn    S  12.75
4     cali_ckn_m      cali_ckn    M  16.75
5     cali_ckn_l      cali_ckn    L  20.75
6  ckn_alfredo_s   ckn_alfredo    S  12.75
7  ckn_alfredo_m   ckn_alfredo    M  16.75
8  ckn_alfredo_l   ckn_alfredo    L  20.75
9    ckn_pesto_s     ckn_pesto    S  12.75

In [ ]:
print(pizza_types)

   pizza_type_id                                        name category  \
0        bbq_ckn                  The Barbecue Chicken Pizza  Chicken
1       cali_ckn                The California Chicken Pizza  Chicken
2    ckn_alfredo                   The Chicken Alfredo Pizza  Chicken
3      ckn_pesto                     The Chicken Pesto Pizza  Chicken
4     southw_ckn                 The Southwest Chicken Pizza  Chicken
5       thai_ckn                      The Thai Chicken Pizza  Chicken
6       big_meat                          The Big Meat Pizza  Classic
7    classic_dlx                    The Classic Deluxe Pizza  Classic
8       hawaiian                          The Hawaiian Pizza  Classic
9    ital_cpcllo                 The Italian Capocollo Pizza  Classic
10    napolitana                        The Napolitana Pizza  Classic
11   pep_msh_pep  The Pepperoni, Mushroom, and Peppers Pizza  Classic
12     pepperoni                         The Pepperoni Pizza  Classic
13     the_greek                             The Greek Pizza  Classic
14    brie_carre                        The Brie Carre Pizza  Supreme
15     calabrese                         The Calabrese Pizza  Supreme
16     ital_supr                   The Italian Supreme Pizza  Supreme
17  peppr_salami                     The Pepper Salami Pizza  Supreme
18    prsc_argla            The Prosciutto and Arugula Pizza  Supreme
19      sicilian                          The Sicilian Pizza  Supreme
20   soppressata                       The Soppressata Pizza  Supreme
21    spicy_ital                     The Spicy Italian Pizza  Supreme
22  spinach_supr                   The Spinach Supreme Pizza  Supreme
23   five_cheese                       The Five Cheese Pizza   Veggie
24   four_cheese                       The Four Cheese Pizza   Veggie
25  green_garden                      The Green Garden Pizza   Veggie
26   ital_veggie                The Italian Vegetables Pizza   Veggie
27  mediterraneo                     The Mediterranean Pizza   Veggie
28      mexicana                          The Mexicana Pizza   Veggie
29    spin_pesto                     The Spinach Pesto Pizza   Veggie
30   spinach_fet                  The Spinach and Feta Pizza   Veggie
31    veggie_veg           The Vegetables + Vegetables Pizza   Veggie

                                          ingredients
0   Barbecued Chicken, Red Peppers, Green Peppers,...
1   Chicken, Artichoke, Spinach, Garlic, Jalapeno ...
2   Chicken, Red Onions, Red Peppers, Mushrooms, A...
3   Chicken, Tomatoes, Red Peppers, Spinach, Garli...
4   Chicken, Tomatoes, Red Peppers, Red Onions, Ja...
5   Chicken, Pineapple, Tomatoes, Red Peppers, Tha...
6   Bacon, Pepperoni, Italian Sausage, Chorizo Sau...
7   Pepperoni, Mushrooms, Red Onions, Red Peppers,...
8            Sliced Ham, Pineapple, Mozzarella Cheese
9   Capocollo, Red Peppers, Tomatoes, Goat Cheese,...
10  Tomatoes, Anchovies, Green Olives, Red Onions,...
11                Pepperoni, Mushrooms, Green Peppers
12                       Mozzarella Cheese, Pepperoni
13  Kalamata Olives, Feta Cheese, Tomatoes, Garlic...
14  Brie Carre Cheese, Prosciutto, Caramelized Oni...
15  Nduja Salami, Pancetta, Tomatoes, Red Onions,...
16  Calabrese Salami, Capocollo, Tomatoes, Red Oni...
17  Genoa Salami, Capocollo, Pepperoni, Tomatoes, ...
18  Prosciutto di San Daniele, Arugula, Mozzarella...
19  Coarse Sicilian Salami, Tomatoes, Green Olives...
20  Soppressata Salami, Fontina Cheese, Mozzarella...
21  Capocollo, Tomatoes, Goat Cheese, Artichokes, ...
22  Spinach, Red Onions, Pepperoni, Tomatoes, Arti...
23  Mozzarella Cheese, Provolone Cheese, Smoked Go...
24  Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...
25  Spinach, Mushrooms, Tomatoes, Green Olives, Fe...
26  Eggplant, Artichokes, Tomatoes, Zucchini, Red ...
27  Spinach, Artichokes, Kalamata Olives, Sun-drie...
28  Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
29  Spinach, Artichokes, Tomatoes, Sun-dried Tomat...
30  Spinach, Mushrooms, Red Onions, Feta Cheese, G...
31  Mushrooms, Tomatoes, Red Peppers, Green Pepper...

#### Question (answer in the cell below): What is the `pizza_type_id` at index 29 in `pizza_types`?

spin_pesto

### Task 3: Merging the Dataframes

Looks like we have some pretty simple tables, so it should be a breeze to merge them all together for easier analysis. Let's go ahead and do that now.

Hint

<details>

`pd.merge()` will be come in handy for this one! Make sure you're merging on the right attribute for each merge.

In [ ]:
merged_data = None

merged_data = pd.merge(orders, order_details, on='order_id')
merged_data = pd.merge(merged_data, pizzas, on='pizza_id')
merged_data = pd.merge(merged_data, pizza_types, on='pizza_type_id')

print(merged_data.shape) 
print(merged_data)

merged_data

(48620, 12)
       order_id        date      time  order_details_id      pizza_id  \
0             1  2015-01-01  11:38:36                 1    hawaiian_m
1            77  2015-01-02  12:22:46               179    hawaiian_m
2           146  2015-01-03  14:22:10               357    hawaiian_m
3           163  2015-01-03  16:54:54               389    hawaiian_m
4           247  2015-01-04  20:55:29               568    hawaiian_m
...         ...         ...       ...               ...           ...
48615     21167  2015-12-27  17:39:57             48176  brie_carre_s
48616     21198  2015-12-28  15:39:02             48244  brie_carre_s
48617     21225  2015-12-29  13:20:17             48311  brie_carre_s
48618     21282  2015-12-31  12:09:59             48456  brie_carre_s
48619     21308  2015-12-31  16:44:35             48527  brie_carre_s

       quantity pizza_type_id size  price                  name category  \
0             1      hawaiian    M  13.25    The Hawaiian Pizza  Classic
1             1      hawaiian    M  13.25    The Hawaiian Pizza  Classic
2             1      hawaiian    M  13.25    The Hawaiian Pizza  Classic
3             1      hawaiian    M  13.25    The Hawaiian Pizza  Classic
4             1      hawaiian    M  13.25    The Hawaiian Pizza  Classic
...         ...           ...  ...    ...                   ...      ...
48615         1    brie_carre    S  23.65  The Brie Carre Pizza  Supreme
48616         1    brie_carre    S  23.65  The Brie Carre Pizza  Supreme
48617         1    brie_carre    S  23.65  The Brie Carre Pizza  Supreme
48618         1    brie_carre    S  23.65  The Brie Carre Pizza  Supreme
48619         1    brie_carre    S  23.65  The Brie Carre Pizza  Supreme

                                             ingredients
0               Sliced Ham, Pineapple, Mozzarella Cheese
1               Sliced Ham, Pineapple, Mozzarella Cheese
2               Sliced Ham, Pineapple, Mozzarella Cheese
3               Sliced Ham, Pineapple, Mozzarella Cheese
4               Sliced Ham, Pineapple, Mozzarella Cheese
...                                                  ...
48615  Brie Carre Cheese, Prosciutto, Caramelized Oni...
48616  Brie Carre Cheese, Prosciutto, Caramelized Oni...
48617  Brie Carre Cheese, Prosciutto, Caramelized Oni...
48618  Brie Carre Cheese, Prosciutto, Caramelized Oni...
48619  Brie Carre Cheese, Prosciutto, Caramelized Oni...

[48620 rows x 12 columns]

,order_id,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,1,2015-01-01,11:38:36,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,77,2015-01-02,12:22:46,179,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
2,146,2015-01-03,14:22:10,357,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
3,163,2015-01-03,16:54:54,389,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
4,247,2015-01-04,20:55:29,568,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,21167,2015-12-27,17:39:57,48176,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni..."
48616,21198,2015-12-28,15:39:02,48244,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni..."
48617,21225,2015-12-29,13:20:17,48311,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni..."
48618,21282,2015-12-31,12:09:59,48456,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni..."
48619,21308,2015-12-31,16:44:35,48527,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni..."

In [12]:
assert merged_data.shape == (48620, 12)
print('Success!')

Success!

### Task 4: Finding Basic Frequencies

Nice, that's a bit better! Now we have all of our data in one easily-referenced dataframe. Let's take a look at a few different columns and find the frequencies of their values. Let's look at `category` and `size`.

Hint:

<details>

Pandas Series have a method specifically to **count values**.

In [ ]:
category_frequencies = merged_data['category'].value_counts()
print(category_frequencies)

category
Classic    14579
Supreme    11777
Veggie     11449
Chicken    10815
Name: count, dtype: int64

In [ ]:
size_frequencies = merged_data['size'].value_counts()
print(size_frequencies)

size
L      18526
M      15385
S      14137
XL       544
XXL       28
Name: count, dtype: int64

### Question: From these observations, what is the most likely combination of category and size in an order?

"Classic" pizza in "L" size

### Task 5: Making New Columns

Awesome! Now we want to make a new column in our dataframe for later easy analysis - we're going to update and combine our `date` and `time` columns into a new `datetime` column.

Note: You're not deleting any columns, just updating them. Be sure you're actually updating them, too, since `pd` methods tend to be in-place operations and don't inherently change the referenced object.

Hints:

<details>

`date` is a breeze, we're just using `.to_datetime()` on it to convert it to the right format.
`time` is a little odder because we want JUST the time and when we convert it to a datetime (as you may see), it ends up including the default year of 1900 (which is inaccurate) - this is why we append .dt.time to the end of our `.to_datetime()` method - this will convert the column back into an object dtype - this is fine
`datetime` is simply a datetime-formatted combination of `date` (as a string) and `time` (as a string).

In [ ]:
# Overview of tasks in this cell (each can be done in one line of code):
# 1. Convert the 'date' column to a datetime object
# 2. Convert the 'time' column to a datetime.dt.time object using `format='%H:%M:%S'` to specify the format.
#   - Include .dt.time to get the time component of the datetime object (e.g. 12:30:00)
# 3. Create a new column called 'datetime' that combines the 'date' and 'time' columns (as strings - use the `.astype()` method)

merged_data['date'] = pd.to_datetime(merged_data['date'])
merged_data['time'] = pd.to_datetime(merged_data['time'], format='%H:%M:%S').dt.time
merged_data['datetime'] = merged_data['date'].astype(str) + ' ' +merged_data['time'].astype(str)
# print(merged_data[['date', 'time', 'datetime']].head())


merged_data

,order_id,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients,datetime
0,1,2015-01-01,11:38:36,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",2015-01-01 11:38:36
1,77,2015-01-02,12:22:46,179,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",2015-01-02 12:22:46
2,146,2015-01-03,14:22:10,357,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",2015-01-03 14:22:10
3,163,2015-01-03,16:54:54,389,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",2015-01-03 16:54:54
4,247,2015-01-04,20:55:29,568,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",2015-01-04 20:55:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,21167,2015-12-27,17:39:57,48176,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",2015-12-27 17:39:57
48616,21198,2015-12-28,15:39:02,48244,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",2015-12-28 15:39:02
48617,21225,2015-12-29,13:20:17,48311,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",2015-12-29 13:20:17
48618,21282,2015-12-31,12:09:59,48456,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",2015-12-31 12:09:59
48619,21308,2015-12-31,16:44:35,48527,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",2015-12-31 16:44:35

Now let's make another column called `weekday`, again for some more analysis down the line.

Hint:

<details>

- `.dt` for a Series gives us a datetime object that we can reformat.
- `.strftime()` will be your reformatting friend.

In [ ]:
merged_data['weekday'] = merged_data['date'].dt.strftime('%A')

merged_data

,order_id,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients,datetime,weekday
0,1,2015-01-01,11:38:36,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",2015-01-01 11:38:36,Thursday
1,77,2015-01-02,12:22:46,179,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",2015-01-02 12:22:46,Friday
2,146,2015-01-03,14:22:10,357,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",2015-01-03 14:22:10,Saturday
3,163,2015-01-03,16:54:54,389,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",2015-01-03 16:54:54,Saturday
4,247,2015-01-04,20:55:29,568,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",2015-01-04 20:55:29,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,21167,2015-12-27,17:39:57,48176,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",2015-12-27 17:39:57,Sunday
48616,21198,2015-12-28,15:39:02,48244,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",2015-12-28 15:39:02,Monday
48617,21225,2015-12-29,13:20:17,48311,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",2015-12-29 13:20:17,Tuesday
48618,21282,2015-12-31,12:09:59,48456,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",2015-12-31 12:09:59,Thursday
48619,21308,2015-12-31,16:44:35,48527,brie_carre_s,1,brie_carre,S,23.65,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni...",2015-12-31 16:44:35,Thursday

In [14]:
assert merged_data.shape == (48620, 14)
print('Success!')

Success!

### Task 6: Checking for Types and Nulls

Great! We now have all of the columns we'll need to find some insights from this dataframe. Now let's finish off our exploratory analysis with these two checks:
- We'll check the datatype of each of the columns in our dataframe with `.info()`
- We'll check for nulls in each column with `.isnull()`

Hint:

<details>

There are a few different ways to check for null values, but if you're looking for the easiest way to see if there are any (and how many), you can just sum the result of `.isnull()` on `merged_data`.

In [ ]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          48620 non-null  int64
 1   date              48620 non-null  datetime64[ns]
 2   time              48620 non-null  object
 3   order_details_id  48620 non-null  int64
 4   pizza_id          48620 non-null  object
 5   quantity          48620 non-null  int64
 6   pizza_type_id     48620 non-null  object
 7   size              48620 non-null  object
 8   price             48620 non-null  float64
 9   name              48620 non-null  object
 10  category          48620 non-null  object
 11  ingredients       48620 non-null  object
 12  datetime          48620 non-null  object
 13  weekday           48620 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(9)
memory usage: 5.2+ MB

In [ ]:
null_counts = merged_data.isnull().sum()
print(null_counts)

order_id            0
date                0
time                0
order_details_id    0
pizza_id            0
quantity            0
pizza_type_id       0
size                0
price               0
name                0
category            0
ingredients         0
datetime            0
weekday             0
dtype: int64

#### Question - How many Dtypes do we have in this dataframe? Any nulls?

<p>dtypes: datetime64[ns](1), float64(1), int64(3), object(9)</p>
<p>No null values</p>

# Describing the Data

### Task 7: Generating Descriptive Statistics

We now have a nice and clean dataframe that we can use to make some predictions! Before we dive too deep into any particular facet, let's take a quick look at the overall descriptive statistics of the dataset. We'll want to use the `.describe()` method - this method defaults to analyzing only the numeric dtypes in the dataframe. This is fine for now.

In [ ]:
descriptive_stats = merged_data[['order_id', 'date', 'order_details_id', 'quantity', 'price', 'datetime']].describe(include='all')
print(descriptive_stats)

            order_id                           date  order_details_id  \
count   48620.000000                          48620      48620.000000
unique           NaN                            NaN               NaN
top              NaN                            NaN               NaN
freq             NaN                            NaN               NaN
mean    10701.479761  2015-06-29 11:03:43.611682304      24310.500000
min         1.000000            2015-01-01 00:00:00          1.000000
25%      5337.000000            2015-03-31 00:00:00      12155.750000
50%     10682.500000            2015-06-28 00:00:00      24310.500000
75%     16100.000000            2015-09-28 00:00:00      36465.250000
max     21350.000000            2015-12-31 00:00:00      48620.000000
std      6180.119770                            NaN      14035.529381

            quantity         price             datetime
count   48620.000000  48620.000000                48620
unique           NaN           NaN                21350
top              NaN           NaN  2015-11-18 12:25:12
freq             NaN           NaN                   21
mean        1.019622     16.494132                  NaN
min         1.000000      9.750000                  NaN
25%         1.000000     12.750000                  NaN
50%         1.000000     16.500000                  NaN
75%         1.000000     20.250000                  NaN
max         4.000000     35.950000                  NaN
std         0.143077      3.621789                  NaN

Looking good! Now let's use the same method but add in the argument `include= "???"` - with the `"???"` being a string of a particular dtype. You should have all of the info at your disposal to do this without any further help. If you'd like more info on this method, here's the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html).

In [ ]:
descriptive_stats_categorical = merged_data.describe(include='object')
print(descriptive_stats_categorical)

            time    pizza_id pizza_type_id   size                      name  \
count      48620       48620         48620  48620                     48620
unique     16382          91            32      5                        32
top     12:32:00  big_meat_s   classic_dlx      L  The Classic Deluxe Pizza
freq          26        1811          2416  18526                      2416

       category                                        ingredients  \
count     48620                                              48620
unique        4                                                 32
top     Classic  Pepperoni, Mushrooms, Red Onions, Red Peppers,...
freq      14579                                               2416

                   datetime weekday
count                 48620   48620
unique                21350       7
top     2015-11-18 12:25:12  Friday
freq                     21    8106

It looks like you're all set to answer the manager's list of questions! Let's get started. For each of the below tasks, print your answer and paste it into the answer cell for that particular task.

### Task 8: Orders by Weekday

The boss wants to see the total unique orders for each individual day of the week. Print out the result of this query.

BONUS (1 point): The boss would be extra happy if you ordered the weeks Monday - Friday in your response.

In [ ]:
orders_per_weekday = merged_data.groupby('weekday')['order_id'].nunique()
ordered_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
orders_per_weekday = orders_per_weekday.reindex(ordered_days)
print("Orders per Weekday:")
for day, count in orders_per_weekday.items():
    print(f"{day}: {count} orders")

Orders per Weekday:
Monday: 2794 orders
Tuesday: 2973 orders
Wednesday: 3024 orders
Thursday: 3239 orders
Friday: 3538 orders
Saturday: 3158 orders
Sunday: 2624 orders

ANSWER HERE

### Task 9: Orders by Hour

The boss would also like total unique orders by the hour. Again (and for all subsequent problems), print out your results.

In [ ]:
merged_data['datetime'] = pd.to_datetime(merged_data['datetime'])
merged_data['hour'] = merged_data['datetime'].dt.hour
orders_per_hour = merged_data.groupby('hour')['order_id'].nunique()

for hour, count in orders_per_hour.items():
    print(f"Hour {hour}: {count} orders")

Hour 9: 1 orders
Hour 10: 8 orders
Hour 11: 1231 orders
Hour 12: 2520 orders
Hour 13: 2455 orders
Hour 14: 1472 orders
Hour 15: 1468 orders
Hour 16: 1920 orders
Hour 17: 2336 orders
Hour 18: 2399 orders
Hour 19: 2009 orders
Hour 20: 1642 orders
Hour 21: 1198 orders
Hour 22: 663 orders
Hour 23: 28 orders

ANSWER HERE

### Task 10: Customers Per Day

The boss is curious as to what was the average number of customers each day.

In [ ]:
orders_per_day = merged_data.groupby(merged_data['date'].dt.date)['order_id'].nunique()
average_orders_per_day = orders_per_day.mean()

print("Number of orders we are expecting per day:")
print(average_orders_per_day)

Number of orders we are expecting per day:
59.63687150837989

ANSWER HERE

### Task 11: Top and Bottom 5 Pizzas

The boss is curious about which 5 pizzas have sold the most and which 5 have sold the least.

In [ ]:
merged_data['total_sales'] = merged_data['quantity'] * merged_data['price']

total_sales_per_pizza = merged_data.groupby('pizza_type_id')['total_sales'].sum()

top_5_pizzas = total_sales_per_pizza.sort_values(ascending=False).head(5)

bottom_5_pizzas = total_sales_per_pizza.sort_values(ascending=True).head(5)

# Printing the results
print("Top 5 pizzas:")
print(top_5_pizzas)
print("\nBottom 5 pizzas:")
print(bottom_5_pizzas)

Top 5 pizzas:
pizza_type_id
thai_ckn       43434.25
bbq_ckn        42768.00
cali_ckn       41409.50
classic_dlx    38180.50
spicy_ital     34831.25
Name: total_sales, dtype: float64

Bottom 5 pizzas:
pizza_type_id
brie_carre      11588.50
green_garden    13955.75
spinach_supr    15277.75
mediterraneo    15360.50
spin_pesto      15596.00
Name: total_sales, dtype: float64

ANSWER HERE

### Task 12: Total Revenue

The boss also wants a number on the total price of all pizzas sold.

In [ ]:
total_revenue = (merged_data['quantity'] * merged_data['price']).sum()
print(total_revenue)

817860.05

ANSWER HERE

### Task 13: Most and Least Popular Days

What were our 5 highest and 5 lowest days in terms of pizzas sold?

In [ ]:
pizzas_sold_per_day = merged_data.groupby('date')['quantity'].sum()

most_popular_days = pizzas_sold_per_day.sort_values(ascending=False).head(5)

least_popular_days = pizzas_sold_per_day.sort_values(ascending=True).head(5)

print(most_popular_days)

print(least_popular_days)

date
2015-11-26    266
2015-11-27    264
2015-10-15    262
2015-07-04    234
2015-07-03    213
Name: quantity, dtype: int64
date
2015-03-22    77
2015-12-29    80
2015-12-30    82
2015-11-22    84
2015-12-27    89
Name: quantity, dtype: int64

ANSWER HERE

### Task 14: Month by Popularity

For the final question, the boss is asking for the count of pizzas sold by month and sorted in descending order.

In [ ]:
merged_data['month'] = merged_data['datetime'].dt.month

pizzas_sold_per_month = merged_data.groupby('month')['quantity'].sum()

sorted_pizzas_sold_per_month = pizzas_sold_per_month.sort_values(ascending=False)

print(sorted_pizzas_sold_per_month)

month
7     4392
5     4328
11    4266
3     4261
1     4232
8     4168
4     4151
6     4107
2     3961
12    3935
9     3890
10    3883
Name: quantity, dtype: int64

ANSWER HERE

### Task 15: Analyst Recommendations (BONUS - up to 2 points)

Congrats, you've finished all the tasks set out by the manager! In the cell below feel free to add any advice you may have for Pandas Pizzeria for the coming fiscal year; Any advice that's deemed useful will be add a bonus point to your overall grade, up to 2 points.

1. Promote Popular Pizzas
2. Analyze Peak Times
3. Day-of-the-Week Promotions
4. Monthly Specials
5. Menu Diversification
6. Track Promotions Effectiveness
7. Leverage Data Analytics